header {
  display: flex;
  align-items: center;
  height: 48px;
}

#header-logo {
  width: 179px;
  height: 48px;
}

#header-links-wrapper {
  min-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
}

#header-links-wrapper .header-link:not(:first-child) {
  margin-left: 50px;
}
