.header-background {
  width: 100vw;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-self: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;

  background: var(--background);

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  height: 48px;
  width: 100%;
  max-width: 90%;
}

header #header-logo {
  width: 126px;
  height: 34px;
}

header #header-links-wrapper {
  width: 100%;
  display: none;

  align-items: center;
  justify-content: center;
}

header #header-links-wrapper .header-link {
  font-size: 18px;
}

header #header-links-wrapper .header-link:not(:first-child) {
  margin-left: 50px;
}

header #registry-header-btn {
  margin-left: auto;
  background: var(--alert);
  color: var(--background);
  white-space: nowrap;
}
header #burger-menu {
  display: flex;
  margin-left: 17px;
}

@media (min-width: 1150px) {
  header {
    max-width: var(--max-width);
  }

  header #burger-menu {
    display: none;
  }

  header #header-links-wrapper {
    display: flex;
  }

  header #header-logo {
    width: 179px;
    height: 48px;
  }
}
