header {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 100%;
}

header #header-logo {
  width: 179px;
  height: 48px;
}

header #header-links-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

header #header-links-wrapper .header-link {
  font-size: 18px;
}

header #header-links-wrapper .header-link:not(:first-child) {
  margin-left: 50px;
}

header #registry-header-btn {
  margin-left: auto;
  background: var(--alert);
  color: var(--background);
  white-space: nowrap;
}
